body {
    background-color: hsl(214, 44%, 45%);
    color: white;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#item-list-title {
    margin-left: 5px;
}

#color-key {
    display: flex;
    /* justify-content: space-between; */
}

.color-key-item {
    display: flex;
    margin-right: 10px;
}

.color-block {
    width: 20px;
    margin-left: 5px;
    background-color: red;
}

.list-item {
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2.5px solid black;
    border-radius: 5px;
    width: 99%;
    transition: border-color 0.3s ease;
}


.item-model-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item-name,
.item-amount,
.item-exp-date {
    padding: 10px;
}

.amt-num {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.amt-num:hover {
    background-color: hsl(214, 44%, 55%);
}

.amt-num:active {
    background-color: hsl(214, 44%, 35%);
}

.editable-num {
    width: 4ch;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: hsl(214, 44%, 65%);
    transition: background-color 0.3s ease;
    ;

}

.expired {
    background-color: red;
    border-radius: 10px;
}

.last-day {
    background-color: hsl(51, 100%, 45%);
    color: black;
    border-radius: 10px;
}

.delete-btn {
    margin-left: auto;
    width: 20px;
    padding: 6px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: hsl(0, 100%, 50%);
}

.delete-btn:active {
    background-color: hsl(0, 100%, 45%);
}