nav {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    background-color: hsl(207, 55%, 77%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    border-radius: 200px;
}

.logo {
    width: 60px;
    cursor: pointer;
    /* border-radius: 200px; */
    margin-left: 5px;
    padding: 5px;
    /* margin-right: 500px; */
}

#website-title {
    color: black;
    margin-left: 15px;
}

.menu-item {
    font-size: 25px;
    text-decoration: None;
    color: black;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.desktop-menu {
    padding-right: 10px;
    margin-left: auto;
}

.menu-item:hover {
    background-color: hsl(207, 55%, 87%);
}